<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sing资讯</title>
  <link rel="stylesheet" href="/Public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Public/css/home/main.css" type="text/css" />
</head>
<body>
<header id="header">
  <div class="navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="">
          <img src="/Public/images/logo.png" alt="">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="" class="curr">首页</a></li>
        <li><a href="">体育</a></li>
        <li><a href="">科技</a></li>
        <li><a href="">人文</a></li>
        <li><a href="">汽车</a></li>
      </ul>
    </div>
  </div>
</header>
